h1 {
    font-size: 5em;
    margin-top: 0;
}

p, .pure-button {
    font-size: 2em;
}

.more-bottom {
    margin-bottom: 2em;
}

div.small {
    max-width: 900px;
}

div.block-over {
    font-size: 7vw;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 11vw;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1, h2, h3, p {
    text-align: center;
}

.custom-restricted-width {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

div.experiment-texts {
    background: black;
    font-size: 17vw;
    font-weight: bold;
    color: black;
    padding: 6vw;
    margin-bottom: 20px;
}

div.middle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.vertical-middle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    height: 16vw;
    width: 16vw;
    border-radius: 50%;
    display: inline-block;
}

.circle.red {
    background-color: red;
    transform: translateX(1vw);
}

.circle.red:hover {
    background-color: #ff4d4d;
}

.circle.blue {
    background-color: blue;
}

.circle.blue:hover {
    background-color: #4d4dff;
}

.circle.green {
    background-color: green;
    transform: translateX(-1vw);
}

.circle.green:hover {
    background-color: #298f29;
}

@media screen and (min-width: 1200px) {
    .circle {
        height: 192px;
        width: 192px;
    }
}

@media screen and (min-width: 1400px) {
    div.experiment-texts {
        padding: 84px;
    }
    div.block-over {
        top: 154px;
    }
}

@media screen and (min-width: 1600px) {
    div.experiment-texts {
        font-size: 256px;
    }
    div.block-over {
        font-size: 112px;
    }
}

@media screen and (max-width: 720px) {
    div.experiment-texts {
        padding: 43px;
        font-size: 122px;
    }
}
